In [1]:
import requests
import pandas as pd
from langdetect import detect

In [2]:
def detectLanguage(row):
    text = row['content']
    try:
        language = detect(text)
    except:
        language = None
    return language

In [3]:
def countCallFunc(row):
    code = row['content']
    indParanthesis = code.find('(')
    if indParanthesis == -1:
        return 0
    else:
        count = 0
        while indParanthesis != -1:
            indSharp = code.rfind('#', 0, indParanthesis)
            indEndLine = code.rfind('\n', 0, indParanthesis)
            if indEndLine > indSharp:
                count += 1
            indParanthesis = code.find('(', indParanthesis+1)
        return count

In [4]:
urlPath = 'https://github-notebooks-update1.s3-eu-west-1.amazonaws.com/'
jupyterName = '329d7c6ec39129989b197d2429953958734b1b79.ipynb'

In [5]:
jnb = requests.get(urlPath + '329d7c6ec39129989b197d2429953958734b1b79.ipynb').json()

In [6]:
pVer = 'Python version: ' + jnb['metadata']['kernelspec']['display_name']
print('nbformat:', str(jnb['nbformat']).rjust(len(pVer) - len('nbformat:') - 1))
print(pVer)

nbformat:              4
Python version: Python 3

In [7]:
columns = ['cell_id', 'cell_type', 'content']
data = []

In [8]:
for cell in jnb['cells']:
    data.append([cell['metadata']['id'], cell['cell_type'], ''.join(cell['source'])])

In [9]:
df = pd.DataFrame(data = data, columns = columns)

In [10]:
df

         cell_id cell_type                                            content
0   2h-2I4CviFCR      code         # activate R magic\n%load_ext rpy2.ipython
1   dtkChhxpiWEd  markdown          %%R\n#**Remodelagem de Dados com R** \n\n
2   SQ7FqxHo94I5  markdown  **tidyr** - Remodelagem de Dados, **Formatação...
3   e9LawpdlRsqB  markdown                                                ---
4   H0wA38-qIhZj  markdown                \n#**tidyr - Remodelagem de Dados**
..           ...       ...                                                ...
91  8Yzmwzfi6Bc8  markdown  #**Principais diferenças entre melt() X dcast()**
92  x3dFhD005SyR      code  %%R\ndf_wide <- melt(airquality, id.vars = c("...
93  oqY6mDiefGac      code  %%R \n#melt()\ndf_wide <- melt(airquality, id....
94  CWXYrlcT7DPz  markdown  ##Variáveis abaixo identificadas de maneira única
95  h65iTOt36jsd      code  %%R \n#dcast()\n# mais colunas, mais esticado ...

[96 rows x 3 columns]

In [11]:
dfMark = df.copy().loc[df['cell_type'] == 'markdown']

In [12]:
dfMark.head()

        cell_id cell_type                                            content
1  dtkChhxpiWEd  markdown          %%R\n#**Remodelagem de Dados com R** \n\n
2  SQ7FqxHo94I5  markdown  **tidyr** - Remodelagem de Dados, **Formatação...
3  e9LawpdlRsqB  markdown                                                ---
4  H0wA38-qIhZj  markdown                \n#**tidyr - Remodelagem de Dados**
6  S1yYa43f8Ypq  markdown                 ## Dados de notas em disciplinas\n

In [13]:
dfMark.loc[:, 'language'] = dfMark.apply(detectLanguage, axis=1)

In [14]:
dfMark.head()

,cell_id,cell_type,content,language
1,dtkChhxpiWEd,markdown,%%R\n#**Remodelagem de Dados com R** \n\n,pt
2,SQ7FqxHo94I5,markdown,"**tidyr** - Remodelagem de Dados, **Formatação...",pt
3,e9LawpdlRsqB,markdown,---,None
4,H0wA38-qIhZj,markdown,\n#**tidyr - Remodelagem de Dados**,pt
6,S1yYa43f8Ypq,markdown,## Dados de notas em disciplinas\n,pt

In [15]:
dfCode = df.copy().loc[df['cell_type'] == 'code']

In [16]:
dfCode.head()

         cell_id cell_type                                            content
0   2h-2I4CviFCR      code         # activate R magic\n%load_ext rpy2.ipython
5   D_asKHU5InrK      code  %%R\n# Instalando os pacotes\ninstall.packages...
7   t8-yfSYtIyJr      code  %%R\ndados <- data.frame(\n    Nome = c("Geogr...
10  wZoIj_cgLAcH      code  %%R\ndados %>% \n  gather(Regiao, NotaFinal, R...
14  Y-0T1uJFLFn-      code  %%R \n set.seed(10)\n df2 = data.frame(\n    i...

In [17]:
dfCode.loc[:, 'count_call'] = dfCode.apply(countCallFunc, axis=1)

In [18]:
dfCode.head()

,cell_id,cell_type,content,count_call
0,2h-2I4CviFCR,code,# activate R magic\n%load_ext rpy2.ipython,0
5,D_asKHU5InrK,code,%%R\n# Instalando os pacotes\ninstall.packages...,4
7,t8-yfSYtIyJr,code,"%%R\ndados <- data.frame(\n Nome = c(""Geogr...",4
10,wZoIj_cgLAcH,code,"%%R\ndados %>% \n gather(Regiao, NotaFinal, R...",1
14,Y-0T1uJFLFn-,code,%%R \n set.seed(10)\n df2 = data.frame(\n i...,9